:root {
  --ascent-color: #2E00E7;
  --primary-color-dark: #151515;
  --title-color-dark: #FFFFFF;
  --text-color-primary-dark: #D2D2D2;
  --text-color-secondary-dark: #4F555C;
  --primary-color-light: #DBDBDB;
  --title-color-light: #242424;
  --text-color-primary-light: #3E3E3E;
  --text-color-secondary-light: #505050;
}